* {
    box-sizing: border-box;
  }
header {
    background-color: red;
    width: 22%;
    height: 60px;
position: relative;
margin-bottom: 10px;
background-color: red;
animation-name: example;
animation-duration: 10s;
animation-iteration-count: infinite;
}
body {
    text-size-adjust: inherit;
    background-image: url("../images/clear\ rain.gif");
}
.headerFont {
    font-family: 'Fascinate Inline', cursive;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc,1px 1px 20px rgb(123, 248, 6),2px 2px 30px rgb(133, 255, 11);
    font-size: 30px;
}
h1 {
    position: absolute;
    left: 8px;
    bottom: 15px;
    color: rgb(255, 0, 0);
}
.text-container {
    font-family: 'Concert One', cursive;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc,1px 1px 20px rgb(123, 248, 6),2px 2px 30px rgb(133, 255, 11);
    font-size:23px;
        color: rgb(255, 255, 255);
        width: 50%;
        background-color: black;
        height: 380px;
        margin-bottom: 10px;
        margin-top: 10px;
   line-height: 1.1;
}

.generatedNum {
   float: left;
   background:#111;
   color:#fff;
   text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
   font-size:78px;
   text-align:center;
    width: 20%;
    height: 82px;
    
}
.winLose {
    margin-left: 290px;
    background:#111;
    color:chartreuse;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
    width: 10%;
    height: 82px;
    bottom: -23px;
    text-align: center;
}
.wins, .losses {
    margin-top: 10px;
    font-size: 30px;
    
}

.crystals{
    width:50%;
    background-image:url("../images/stars.gif");
}

.crystal1{
    margin-left:40px;
    margin-right:20px;
    width: 20%;
    height: 120px;
    display:inline-flex;
    animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}


.crystal2{
    margin-right:20px;
    display:inline-flex;
    width: 20%;
    height: 120px;
    animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
.crystal3{
    margin-right:20px;
    display:inline-flex;
    width: 20%;
    height: 120px;
    animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
.crystal4{
    display:inline-flex;
    width: 20%;
    height: 120px;
    animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
     } /*if you interchange the values it will spin opposite */
    to {
        transform:rotate(360deg);
    }

}

.currentNum {
    background-color: rebeccapurple;
    height: 200px;
}
img { 
    max-width:100%;
max-height:100%;
align-content: center;

}
#Amethyst {
    margin-left: 25px;
}
#Garnet {
    width: 50%;
    margin-left: 30px;
}
#Pearl {
    margin-left: 25px;
}
#Steven {
    margin-left: 10px;
}
#scoreContainer {
    height:50px;
    width: 50%;
    background-image: url("../images/glitterconfetti.gif");
}
p1 {
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc,1px 1px 20px rgb(123, 248, 6),2px 2px 30px rgb(133, 255, 11);
    color: red;
    font-size: 45px;
}

/* The animation code */
@keyframes example {
    0%   {background-color: ;}
    10%   {background-color: black;}
    20%  {background-color: gold;}
    30%  {background-color:black ;}
    40% {background-color:rgb(255, 13, 154); ;}
    50%   {background-color:black;}
    60%   {background-color: rgb(255, 0, 0);}
    70%   {background-color: black;}
    80%   {background-color: chartreuse;}
    90%   {background-color: black;}
    100%   {background-color:rgb(17, 21, 255);}
  }

  .totalScore {
    background:#111;
    color:#fff;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc, 1px 1px 10px rgb(77, 255, 7);
    font-size:54px;
    text-align:center;
    height:50px;
    margin-top: 10px;
   
    width: 50%;
  
}  

p {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}